// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.



$gold:#bca64f;
$navy: #103341;

body {
	  font-family: 'Montserrat', sans-serif;
	
}



.container-fluid {
	background: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

header {
	background: url("../images/mobile-background.jpg") no-repeat center;
	background-size: cover;

	display: flex;
	flex-direction: column;
	justify-content: center;


	.logo {

		width: 23%;
		max-width: 100%;
		height: auto;
		margin: 0 auto;
		margin-top: -45px;
	}

	.nav-link {
		color: #fff;
	}
	.navbar-toggler {
		color: $gold;
		padding: 0;
	}

	.etsy {
		border: #fff solid 2px;
	}

	h1 {
		font-size: 30px;
		font-weight: 300;
		text-align: center;
		margin: 20px 0;
		color: #fff;
		opacity: 0.7;
	}

	
	p {
	    font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		font-weight: 600;
		text-align: center;
		margin: 0 10% 50px 10%;
		line-height: 1.5rem;
		color: #fff;
		opacity: 0.7;
	}



	.play {
		display: flex;
		justify-content: center;
		a {
			font-size: 5rem;
			color: #fff;
			text-align: center;
			opacity: 0.7;
		}
		
		
		p{
			font-size: 18px;
			font-weight: 400;
			text-align: center;
			margin: 20px 0 260px 0;
		}	
	}

	.shop-etsy {
		background: $gold;
		height: 45px;
		margin-bottom: 0;

	
		p {

			font-size: 18px;
			font-weight: 600;
			text-align: center;
			margin-top: 13px;
			color: #fff;
		}
	}

}
main {

	display: flex;
	flex-direction: column;
	justify-content: center;
	h2 {
		font-family: 'Montserrat', sans-serif;
		font-size: 20px;
		color: #000;
		font-weight: 300;
		text-align: center;
		padding: 25px 15%;	
		}

	p {
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
		color: #666;
		font-weight: 300;
		line-height: 1.2rem;
		text-align: center;
		padding: 15px 5%;
	}
	.icons {
		display: flex;
		justify-content: center;
	 p{
		
		padding: .5% 4%;
		font-size: 1rem;
		color: #b0b0b0;

		}
	}

	
}
.diagonal-pics {
		padding: 40px 5%;
		h2 {
			padding: 25px 0;
		}
		p{
			padding: 20px 2%;
			text-align: center;
		}
		img {
			padding: 0 5%;
		}
	}
.inverted-panel {

  	margin: 0 4%;
  	margin-right: 4%;
    background: #103341;
	h2 {
		font-family: 'Montserrat', sans-serif;
		font-size: 20px;
		color: #fff;
		font-weight: 400;
		line-height: 1.2rem;
		text-align: center;
		opacity: 0.7;
	}

	h3 {
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		color: #d9d9d9;
		font-weight: 400;
		line-height: 1.2rem;
		text-align: center;
	}
	p{
		font-family: 'Montserrat', sans-serif;
		font-size: 11px;
		color: #999;
		font-weight: 300;
		line-height: 1.2rem;
		text-align: center;
	}
	img {
	
		padding: 0 2%;
	}
}

.closing {
	h2	{
		font-family: 'Montserrat', sans-serif;
		font-size: 22px;
		color: #999;
		font-weight: 300;
		line-height: 1.2rem;
		text-align: center;
	}
	h4	{
		font-family: 'Montserrat', sans-serif;
		font-size: 22px;
		color: #666;
		font-weight: 400;
		line-height: 1.2rem;
		text-align: center;
	}
	a {
		font-family: 'Montserrat', sans-serif;
		font-size: 22px;
		display: block;
		padding: 20px;
		margin-bottom: 50px;
		margin-right: 0;
		width: 100%;
		color: #fff;
		background: $gold;
		font-weight: 400;
		text-align: center;
	}
	p	{
		font-family: 'Montserrat', sans-serif;
		font-size: 11px;
		color: #999;
		font-weight: 300;
		line-height: 1.2rem;
		text-align: center;
	}
	.mail-list {
		padding: 0 20%;
		margin-bottom: 50px;
	}
	#email {
		display: inline-block;
		width: 100%;
		height: 100%;
		height: 60px;
		margin: 0 3%;
		color: #eee;
		text-align: center;
		background: #fff;
	 	border: 3px solid #999;
	}
	button	{
		font-family: 'Montserrat', sans-serif;
		font-size: 18px;
		padding: 15px 20px;
		width: 100%;
		color: #fff;
		background: #999;
		font-weight: 600;
		line-height: 1.2rem;
		text-align: center;
	}
}

a.nav-link {
	font-size: 11px;
	line-height: 1rem;
	color: #ddd;

}

.social {
	text-align: center;
	margin-top: 50px;
}
.social a{
	display: inline-block;
	padding: 20px;
	color: $gold;
}

.desktop {
	display: none;
}

@media (min-width: 576px){


	.mobile {
		display:none;
	}	
	.desktop {
		display:inline-block;
	}


	header {
		background: url("../images/background1.jpg") no-repeat center;
	}
	.logo {

		width: 10%;
		max-width: 100%;
		height: auto;
		margin: 0 auto;
		margin-top: -45px;
	}

	.diagonal-pics {
		padding: 40px 5%;
		h2 {
			padding: 25px 0;
			text-align: left;
		}
		p{
			padding: 0px 2%;
			text-align: left;
		}
		
	}
	.inverted-panel {
		padding: 0 15%;
  		margin: 0;
		h2 {
			padding: 50px 32%;
		}

		h3 {
			padding-top: 30px;
		}
	
	}
	.closing {
		h2 {
			margin-top: -150px;
			
		}
		a {
		    width: 400px;
			justify-content:center;
		}
	}

	
		a.nav-link {
		  border-right: #ddd solid 2px;
		}

		li.nav-item:last-of-type {
			a.nav-link{
		  		border-right: none;
			}
		}
	
}
