// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.



body {
	  font-family: 'Montserrat', sans-serif;	
}

.container-fluid {
	background: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

header {
	background: url("../images/mobile-background.jpg") no-repeat center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;


	.logo {

		width: 20%;
		max-width: 100%;
		height: auto;
		margin: 0 auto;
		margin-top: -45px;
	}

	a.nav-link {
		color: #fff;
		text-align: right;
	}


	.navbar-toggler {
		text-align: right; 
		color: $gold;
		padding: 0;
	}

	.etsy {
		border: none;
	}

	h1 {
		font-size: 30px;
		font-weight: 300;
		text-align: center;
		margin: 20px 0;
		color: #fff;
		opacity: 0.7;
	}

	
	p {
		font-size: 14px;
		font-weight: 600;
		text-align: center;
		margin: 0 10% 50px 10%;
		line-height: 1.5rem;
		color: #fff;
		opacity: 0.7;
	}



	.play {
		display: flex;
		justify-content: center;
		a {
			font-size: 5rem;
			color: #fff;
			text-align: center;
		}
		
		
		p{
			font-size: 18px;
			font-weight: 400;
			text-align: center;
			margin: 20px 0 260px 0;
		}	
	}

	.shop-etsy {
		background: $gold;
		height: 45px;
		margin-bottom: 0;

	
		p {

			font-size: 18px;
			font-weight: 600;
			text-align: center;
			margin-top: 13px;
			color: #fff;
		}
	}

}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;

	h2 {
		font-family: 'Montserrat', sans-serif;
		font-size: 20px;
		color: #000;
		font-weight: 300;
		text-align: center;
		padding: 25px 15%;	
		}

	p {
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
		color: #666;
		font-weight: 300;
		line-height: 1.2rem;
		text-align: center;
		padding: 15px 5%;
	}
	.icons {
		display: flex;
		justify-content: center;
		 p{
			
			padding: .5% 4%;
			font-size: 1rem;
			color: #b0b0b0;

		}
	}

	
}
.diagonal-pics {
		padding: 40px 5%;
		h2 {
			padding: 25px 0;
		}
		p{
			padding: 20px 2%;
			text-align: center;
		}
		img {
			padding: 0 5%;
		}
	}

	.four {
		margin: 0 0.5%;
	}

.inverted-panel {
  	margin: 0 0;
    background: #103341;

	h2 {
		font-family: 'Montserrat', sans-serif;
		font-size: 20px;
		color: #fff;
		font-weight: 400;
		line-height: 1.2rem;
		text-align: center;
		opacity: 0.7;
	}

	h3 {
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		color: #d9d9d9;
		font-weight: 400;
		line-height: 1.2rem;
		text-align: center;
	}
	p{
		font-family: 'Montserrat', sans-serif;
		font-style: italic;
		font-size: 11px;
		color: #999;
		font-weight: 300;
		line-height: 1.2rem;
		text-align: center;
	}
	img {
		padding: 0 2%;
		width: 100%;
		height: auto;
		margin: auto;
	}
}

.closing {
	h2	{
		font-family: 'Montserrat', sans-serif;
		font-size: 22px;
		color: #999;
		font-weight: 300;
		opacity: 0.7;
		line-height: 1.2rem;
		text-align: center;
		margin: -80px 0 30px 0;
	}
	@media (min-width: 768px){
		h2 {	
			width: 40%;	
			text-align: left;
			font-size: 35px;
			color: #666;
			line-height: 2rem;
			padding: 0; 
			margin-left: 100px;	
			margin-top: -350px;
		}

	}
	h4	{
		font-family: 'Montserrat', sans-serif;
		font-size: 22px;
		color: #666;
		font-weight: 400;
		line-height: 1.2rem;
		text-align: center;
		margin-bottom: 50px;
	}
	@media(min-width: 768px){
		h4 {
			text-align: left;
			font-size: 50px;
			font-weight: 400;
			margin-left: 100px;	
		}
	}
	#cta {
		padding: 0 4%;
		@media (min-width: 400px) {
			padding-left: 8%;
		} 
	
	}
	a {
		background: $gold;
		font-family: 'Montserrat', sans-serif;
		font-size: 18px;
		display: block;
		padding: 20px 10px;
		margin-bottom: 0;
		width: 100%;
		color: #fff;
		font-weight: 600;
		text-align: center;
		@media (min-width: 768px) {
			font-size: 14px;
			font-weight: 600;
		    width: 260px;
		    padding: 10px 25px;		
			}
	}
	
	a:hover {
		color: $gold;
		background: #fff;
		border: 2px solid $gold;
		text-decoration: none;
	}
	p	{
		font-family: 'Montserrat', sans-serif;
		font-size: 11px;
		color: #999;
		font-weight: 300;
		line-height: 1.2rem;
		text-align: center;
		margin-bottom: 50px;
		@media (min-width: 768px) {
			text-align: left;
			font-size: 20px;
			padding: 0;
			margin-left: 100px;
		}
	}
		
		
	
	
}
footer {
	h4 {
			text-align: center;
			padding-bottom: 50px;
		}
		@media(min-width: 400px){
			form {
				padding: 0 15%;
			}
		
		}
}
.mail-list {
		padding: 0;
		margin-bottom: 100px;
	}
	#email {
		font-style: italic;
		font-size: 14px;
		font-weight: 300;
		display: inline-block;
		width: 100%;
		height: 60px;
		color: #999;
		text-align: center;
		background: #fff;
	 	border: 3px solid #999;
	}
	button	{
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		padding: 15px 10px;
		width: 100%;
		height: 60px;
		color: #fff;
		background: #999;
		font-weight: 600;
		line-height: 1.2rem;
		text-align: center;
		@media (min-width: 768px) {
			padding: 0 3px;
			margin-bottom: 50px;	
		}
	}
	button:hover {
		background: #666;
	}
form {
	padding:0;
}
a.nav-link {
	padding: 17px;
	font-weight: 300;
	font-size: 12px;
	line-height: 1rem;
	color: #999;
	text-align: center;
}

@media (min-width: 768px){
	a.nav-link.foot, a.nav-link {
	  border-right: #ddd solid 2px;
	}
	a.nav-link {
		border: none;
	}
	.navbar-expand-md .navbar-nav {
			justify-content: center;
	}
}

.social {
	text-align: center;
	margin-top: 30px;
}
.social a{
	display: inline-block;
	padding: 20px;
	color: $gold;
	font-weight: 600;
}






.desktop {
	display: none;
}
.ipad {
	display: none;
}

@media (min-width: 768px){
	.ipad{
		display: inline-block;
	}
	.ipad-mobile {
		display: none;
	}

}
@media (min-width: 576px){
	.mobile {
		display:none;
	}	
	.desktop {
		display:inline-block;
	}

	header {
		background: url("../images/background1.jpg") no-repeat center;	
		.logo {
			width: 5%;
			max-width: 10%;
			margin: -40px 0 0 5%;			
		}
		.etsy{
			border: #fff solid 2px;
		}
	}
	.diagonal-pics {
		padding: 40px 5%;
		h2 {
			padding: 25px 0;
			text-align: left;
		}
		p{
			padding: 0px 2%;
			text-align: left;
		}		
	}
	.inverted-panel {
		padding: 0 15%;
  		margin: 0;
		h2 {
			padding: 50px 0;
		}

		h3 {
			padding-top: 30px;
		}	
	}
		

}
/*
@media(min-width: 1243px){
	h2 {	
			width: 20%;	
			text-align: left;
			font-size: 35px;
			color: #666;
			line-height: 2rem;
			padding: 0; 
			margin-left: 100px;	
			margin-top: -350px;
		}
		h4 {
			text-align: left;
			font-size: 50px;
			color: #666;
			margin-left: 100px;	
		}
}
@media(min-width: 1363px) {
	.closing{
		h2 {
			width: 100%;
			text-align: left;
			font-size: 35px;
			color: #666;
			line-height: 2rem;
			padding: 0; 
			margin-left: 100px;	
			margin-top: -350px;
		}
		h4 {
			text-align: left;
			text-size: 50px;
			color: #666;
			margin-left: 100px;	
		}
	}

}*/
