// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.



$gold:#bca64f;
$navy: #103341;

body {
	  font-family: 'Montserrat', sans-serif;
	
}



.container-fluid {
	background: #fff;
	display: flex;
	flex-direction: column;
	justify-content: left;
}

header {
	background: #0000ff url("../images/mobile-fullSize-background.jpg") no-repeat center;
	background-size: cover;

	display: flex;
	flex-direction: column;
	justify-content: center;


	.logo {

		width: 23%;
		max-width: 100%;
		height: auto;
		margin: 0 auto;
		margin-top: -45px;
	}

	.nav-link {
		color: #fff;
	}
	.navbar-toggler {
		color: $gold;
		padding: 0;
	}

	.etsy {
		border: #fff solid 2px;
	}

	h1 {
		font-size: 30px;
		font-weight: 300;
		text-align: center;
		margin: 20px 0;
		color: #fff;
		opacity: 0.7;
	}

	
	p {
	    font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		font-weight: 600;
		text-align: center;
		margin: 0 10% 50px 10%;
		line-height: 1.5rem;
		color: #fff;
		opacity: 0.7;
	}



	.play {
		display: flex;
		justify-content: center;
		a {
			font-size: 5rem;
			color: #fff;
			text-align: center;
			opacity: 0.7;
		}
		
		
		p{
			font-size: 18px;
			font-weight: 400;
			text-align: center;
			margin: 20px 0 260px 0;
		}	
	}

	.shop-etsy {
		background: $gold;
		height: 45px;
		margin-bottom: 0;

	
		p {

			font-size: 18px;
			font-weight: 600;
			text-align: center;
			margin-top: 13px;
			color: #fff;
		}
	}

}
main {

	display: flex;
	flex-direction: column;
	justify-content: center;
	h2 {
		font-family: 'Montserrat', sans-serif;
		font-size: 20px;
		color: #000;
		font-weight: 300;
		text-align: center;
		padding: 25px 15%;	
		}

	p {
		font-family: 'Montserrat', sans-serif;
		font-size: 12px;
		color: #666;
		font-weight: 300;
		line-height: 1.2rem;
		text-align: center;
		padding: 15px 5%;
	}
	.icons {
		display: flex;
		justify-content: center;
	 p{
		
		padding: .5% 4%;
		font-size: 1rem;
		color: #b0b0b0;

		}
	}

	.diagonal-pics {
		padding: 40px 5%;
		h2 {
			padding: 25px 0;
		}
		p{
			padding: 20px 2%;
			text-align: center;
		}
		img {
			padding: 0 5%;
		}
	}
}

.inverted-panel {

  	margin: 0 4%;
  	margin-right: 4%;
    background: #103341;
	h2 {
		font-family: 'Montserrat', sans-serif;
		font-size: 20px;
		color: #fff;
		font-weight: 400;
		line-height: 1.2rem;
		text-align: center;
		opacity: 0.7;
	}

	h3 {
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		color: #d9d9d9;
		font-weight: 400;
		line-height: 1.2rem;
		text-align: center;
	}
	p{
		font-family: 'Montserrat', sans-serif;
		font-size: 11px;
		color: #999;
		font-weight: 300;
		line-height: 1.2rem;
		text-align: center;
	}
	img {
	
		padding: 0 2%;
	}
}

.desktop {
	display: none;
}

@media (min-width: 576px){
	.mobile {
		display:none;
	}	
	.desktop {
		display:inline-block;
	}
	
}
